.navigation-bar {
  padding-right:30px;
}
  .navigation-bar {
    background-color: #0D1F2D;
  }
  .navbar-text  {
  /*background-color: #38618C;*/
  color:white;
  font-weight: bold;
  font-family: georgia;

  }
  #menu-dropdown li a:hover{
    background-color: #FAF3DD;

    color:black;
    }
  #menu-dropdown li a{
    /*background-color: #FAF3DD;*/
    color:white;
    }
  .fa-custom {
    color: white;
  }
  .navbar-toggle {
    color:white;
  }

#heading {
  padding: 200px 100px 100px 100px;
  background-color: #FAF3DD;
}
  .profile-info {
    font-family: georgia;
  }
#portfolio {
  padding: 100px;
  background-color: #38618C;
  font-family: georgia;
 }
  .portfolio-header {
    color:#FAF3DD;
    font-size: 40px;
    font-style: italic;
  }
  .portfolio-text {
    /*color:#FAF3DD;*/
    font-size: 18px;
    color:white;

  }
  .project-title {
    text-decoration: underline;
    font-size: 30px;
    color: #FAF3DD;
  }

#about {
  padding: 100px;
  background-color: #FAF3DD;
  font-family: georgia;
 }
  .about-header {
    font-size: 40px;
    font-style: italic;
  }
  .about-text {
    font-size: 18px;

  }

#connect {
  padding: 100px;
  background-color: #38618C;
  font-family: georgia;
}
  .connect-header {
    color:#FAF3DD;
    font-size:40px;
    font-style: italic;

  }
  .connect-text a {
    color: #FAF3DD;
  }

footer {
  background-color:#FAF3DD;
}
