body {
  background-color:blue;
  /*background-image: url(../pictures/wood.jpg);*/
}

/*#top,#middle,#bottom{
    height: 600px;
    width: 300px;
    background: green;
}*/

#top {
  background-color: white;
  /*opacity: .5;*/
  /*font-size: 12px;*/
}

.navbar {
  background-color: black;
  /*color: white;*/
}

/*#profile-pic {
  width: 200px;
  height: 200px;
}*/
#heading {
  background-color: white;
}
  .profile {
    padding-top: 20px;
  }
  .profile-info {
    padding: 20px;
  }


#portfolio {
  background-color: green;

}

#about {
  background-color: yellow;

}
