#navigation-bar {
  font-family: georgia;


}
  .navbar li{
    color: white;
    text-decoration: none;
  }
  .nav.navbar-nav.navbar-right li a {
    color: black;
  }
  .navbar-brand{
    color: black;
  }
  .navbar-custom {
    background-color: #90BEDE;
    /*background-color: #16425B; blue*/
  }


#heading {

  /*background-color: #D9DCD6; blue*/
  background-color: #F0FFCE;
  padding: 50px;
  font-family: georgia;

}
  .profile {
    padding-top: 20px;
  }
  .profile-info {
    padding: 20px;
  }


#portfolio {

  background-color: #FFFA9E;
  /*background-color: #B4D2E7;*/
  padding: 200px;
  /*color: white;*/
  font-family: georgia;
}
  .portfolio-header {

  }
  #project1 #project2 #project3 {
    /*background-color: #81C3D7; blue*/
    background-color: #94C5CC;

  }

#about {
  /*background-color: #3A7CA5; blue*/
  background-color: #A1A6B4;
  padding: 200px;
  color: white;
  font-family: georgia;

}

#connect {
  background-color: #90BEDE;
  padding: 50px;
  font-family: georgia;


}

body {
  text-decoration: none;
  color: black
}